<% provide(:title, 'User console') %>

<h1> <%= "User console" %></h1>

<div class="scroll">


<% if !@admins.empty?%>
  <h3>Admins</h3>
    <table>
    <tbody>
    <tr>
      <th> Username </th>
      <th> Email </th>
      <th style="text-align:center"> Pending </th>
      <th style="text-align:center"> Approved </th>
      <th style="text-align:center"> Denied </th>
    </tr>
      <% @admins.each do |user| %>
        <tr>
          <td> 
            <%= link_to user.username, user %>
          </td>
          <td>  
            <%= user.email %>
          </td>
          <td style="text-align:center">
            <%= user.items.pendings.count %>
          </td>
          <td style="text-align:center">   
            <%= user.items.approveds.count %>
          </td>
          <td style="text-align:center">  
            <%= user.items.denieds.count %>
          </td>
          <% if @admins.count > 1 %>
            <td>
              <%= link_to 'Demote', demote_admin_path(user.id),
                            method: :patch,
                            data: { confirm: 'Are you sure to demote this admin to become a user?' }, 
                            class: "btn btn-custom btn-danger" %>
            </td> 
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<% if !@users.empty?%>
<hr>
  <h3>Users</h3>
  <table>
    <tbody>
    <tr>
      <th> Username </th>
      <th> Email </th>
      <th style="text-align:center"> Pending </th>
      <th style="text-align:center"> Approved </th>
      <th style="text-align:center"> Denied </th>
    </tr>
      <% @users.each do |user| %>
        <tr>
          <td> 
            <%= link_to user.username, user %>
          </td>
          <td>  
            <%= user.email %>
          </td>
          <td style="text-align:center">  
            <%= user.items.pendings.count %>
          </td>
          <td style="text-align:center">   
            <%= user.items.approveds.count %>
          </td>
          <td style="text-align:center">  
            <%= user.items.denieds.count %>
          </td>
          <td>
            <%= link_to 'Promote', promote_admin_path(user.id),
                            method: :patch,
                            data: { confirm: 'Are you sure to promote this user to become an admin?' }, 
                            class: "btn btn-custom btn-success" %>
          </td> 
          <td>
            <% if(user.banned)%>
              <%= link_to 'Unban', unban_admin_path(user.id),
                            method: :patch,
                            data: { confirm: 'Are you sure to unban this user?' }, 
                            class: "btn btn-custom btn-success" %>
            <% else %>
              <%= link_to 'Ban', ban_admin_path(user.id),
                            method: :patch,
                            data: { confirm: 'Are you sure to ban this user?' }, 
                            class: "btn btn-custom btn-danger" %>
            <% end %>
          </td> 
          
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


</div>