<div class="show-container">

<h1> <%= @item.title %> </h1>

<h3 class="category">
  <%=  @item.category %>
  <div class="instruction">
  Categories of this item
  </div>
</h3>

<h3 class="author"> Author:  <%= @item.author %> </h3>
<h3 class="description"> <%= @item.description %> </h3>

<%= link_to "Read More", @item.url, class: "btn btn-lg btn-primary" %>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Suggested resource 1</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-dark">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Suggested resource 2</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-dark">Go somewhere</a>
        </div>
      </div>
    </div>
     <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Suggested resource 3</h5>
          <p class="card-text ">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-dark">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<% if current_user and current_user.admin %>
  
<% if !@item.user.nil? %>  
  <h3> Suggested by: <%= @item.user.username%> (<%= @item.user.email%>) </h3>
<% end %>


<div class="row">
<% if (@item.status == (Item::PENDING))%>
          <td>
            <%= link_to 'Edit', edit_item_path(@item.id), class: "btn btn-custom btn-secondary" %>
          </td>
          <td>
            <%= link_to 'Deny', deny_item_path(@item.id),
                          method: :patch,
                          data: { confirm: 'Are you sure to deny this material?' }, 
                          class: "btn btn-custom btn-danger" %>
          </td>
          <td>
            <%= link_to 'Approve', approve_item_path(@item.id),
                          method: :patch,
                          data: { confirm: 'Are you sure to approve this material?' }, 
                          class: "btn btn-custom btn-success" %>
          </td>
<% end %>

<% if (@item.status == (Item::DENIED))%>
          <td> 
            <%= link_to 'Edit', edit_item_path(@item.id), class: "btn btn-custom btn-secondary" %>
          </td>
          <td>
            <%= link_to 'Pending', pending_item_path(@item.id),
                            method: :patch,
                            data: { confirm: 'Are you sure to set this material to pending?' }, 
                            class: "btn btn-custom btn-danger" %>
          </td>
          <td>
            <%= link_to 'Reapprove', approve_item_path(@item.id),
                            method: :patch,
                            data: { confirm: 'Are you sure to re-approve this material?' }, 
                            class: "btn btn-custom btn-success" %>
          </td>
<% end %>

<% if (@item.status == (Item::APPROVED))%>
          <td>
            <%= link_to 'Edit', edit_item_path(@item), class: "btn btn-custom btn-secondary" %>
          </td>
          <td>
            <%= link_to 'Deny', deny_item_path(@item.id),
                          method: :patch,
                          data: { confirm: 'Are you sure to deny this material?' }, 
                          class: "btn btn-custom btn-danger" %>
          </td>
          <td>
            <%= link_to 'Pending', pending_item_path(@item.id),
                          method: :patch,
                          data: { confirm: 'Are you sure to set this material to pending?' }, 
                          class: "btn btn-custom btn-success" %>
          </td>
  <% end %>
  </div>
  <% end %>


<div class="row">
  <%= link_to "Report This Resource", report_new_path(item_id: @item.id), class: "btn btn-danger" %>
</div>

</div>